<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccb.workflow.service.WorkflowAuditMapper">
    <insert id="insert">
        INSERT INTO wf_audit_event
            (id, tenant_id, definition_id, version_no, instance_id, task_id, event_type, operator_id, reason, payload_json)
        VALUES
            (#{id}, #{tenantId}, #{definitionId}, #{versionNo}, #{instanceId}, #{taskId}, #{eventType}, #{operatorId}, #{reason}, #{payloadJson})
    </insert>
</mapper>
